<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <script rel="text/javascript" src="/socket.io/socket.io.js"></script>
        <script rel="text/javascript" src="javascripts/app.js"></script>
        <link rel="stylesheet" href="stylesheets/custom.css">
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css">

   </head>
    <body>
        <div class="col-md-12 col-xs-12">
            <div>
                <div class="col-xs-12 col-md-12">
                    <div class="logo">
                        <img src="images/logo.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 bg-dark first-row">&nbsp;<br></div>
                <div class="col-xs-12 col-md-12 bg-dark" style="padding:0px;">
                    <div class="col-xs-4 col-md-4 bg-dark text-center">
                        <div class="three-icon img-responsive">
                            <a href="#" onclick="xbmc()">
                                <img src="images/photo.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-4 bg-dark text-center">
                        <div class="three-icon img-responsive">
                            <img src="images/glass.png">
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-4 bg-dark text-center">
                        <div class="three-icon img-responsive">
                            <a href="#" onclick="mame()">
                                <img src="images/game.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 bg-dark last-row">
                    <div class="bottom-logo text-center img-responsive">
                        <img src="images/unicorn.png">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>