body {
	background-size: contain;
	overflow: hidden;
}
.bg-dark{
	background:#1f1f1f;
	background-color:#1f1f1f;
	color:#fff;
}
.no-margin {
	margin: 0px;
}
.no-padding {
	margin: 0px;
}
.logo {
	padding: 5% 0px;
	background: transparent;
	width: 100px;
	margin: 0 auto;
}
.logo img {
	width:100%;
}
.first-row{
	padding: 10px;
	border-radius: 15px 15px 0px 0px;
	border-top:2px solid #555;
	border-left:2px solid #555;
	border-right:2px solid #555;
	border-bottom:2px solid #fff;
}
.last-row{
	padding: 10px;
	border-radius: 0px 0px 15px 15px;
	margin-bottom: 50px;
	border-bottom:2px solid #555;
	border-left:2px solid #555;
	border-right:2px solid #555;
	border-top:2px solid #fff;
}
.ico-border-left {
	border-left:2px solid #555;
}
.ico-border-rigth {
	border-right: 2px solid #555;
}
.ico-left-border {
	border-left:2px solid #fff;
}
.ico-right-border {
	border-right: 2px solid #fff;
}
.row {
	margin:0px;
}
.marg-left-right {
	margin-left:15px;
	margin-right:15px;
}
.three-icon {
	width:80px;
	margin:70px auto;
}
.three-icon img {
	width:100%
}
.bottom-logo {
	width:200px;
	margin:0 auto;
}
.bottom-logo img {
	width:100%
}
.height-300 {
	height: 300px;
}
.text-name {
	min-height: 50px;
	height: auto;
	line-height: 50px;
	vertical-align: middle;
	font-size: 20px;
	margin: 20px 0px;
}
@media (max-width:767px) {
	.logo {
		padding: 15% 0px;
	}
}
@media (max-width: 480px) {
	.logo {
		padding: 15% 0px;
	}
}